<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>末世劫</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/common.css">
</head>
<body>

<header>
	{% include nav.html navclass='nav-top'%}
</header>

{{content}}

<footer>
	{% include nav.html navclass='nav-bottom'%}
	<p>&copy; 2016 Khee Huang</p>
</footer>

<script src="{{site.baseurl}}/js/jquery-1.11.3.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>

</body>
</html>